<div class="aboutContent">
  <h5>Hi! I'm Mustafa Ali, Welcome to my resume site.</h5>
  <p>

    I'm studying in Balıkesir University currently (ending in June 2023), but I participated in the
    Erasmus programme and went to Czestochowa, Poland for one semester. <br />
    I also like cooking a lot, if you have an interesting recipe, send me it so
    i could try it. All my friends are in love with my food, their words, not
    mine.
  </p>
  <h5>Skills</h5>
  <table>
    <tr *ngFor="let skill of skillPoints[0].skills">
      <td>{{skill.name}}
      </td>
      <td class="skillPoints">
        <div *ngIf="skill.skillPoint=='0'">
          <fa-icon [icon]="faCircle" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircle" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircle" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircle" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircle" class="faIcons" size="lg"></fa-icon>
        </div>
        <div *ngIf="skill.skillPoint=='1'">
          <fa-icon [icon]="faCircleSolid" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircle" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircle" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircle" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircle" class="faIcons" size="lg"></fa-icon>
        </div>
        <div *ngIf="skill.skillPoint=='2'">
          <fa-icon [icon]="faCircleSolid" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircleSolid" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircle" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircle" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircle" class="faIcons" size="lg"></fa-icon>
        </div>
        <div *ngIf="skill.skillPoint=='3'">
          <fa-icon [icon]="faCircleSolid" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircleSolid" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircleSolid" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircle" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircle" class="faIcons" size="lg"></fa-icon>
        </div>
        <div *ngIf="skill.skillPoint=='4'">
          <fa-icon [icon]="faCircleSolid" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircleSolid" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircleSolid" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircleSolid" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircle" class="faIcons" size="lg"></fa-icon>
        </div>
        <div *ngIf="skill.skillPoint=='5'">
          <fa-icon [icon]="faCircleSolid" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircleSolid" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircleSolid" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircleSolid" class="faIcons" size="lg"></fa-icon>
          <fa-icon [icon]="faCircleSolid" class="faIcons" size="lg"></fa-icon>
        </div>
      </td>

    </tr>
  </table>
  <p>
    If you want to check out what I did make, you can go to my <a href="https://github.com/xinacris"
      target="_blank">Github</a>.
  </p>
</div>
