<div class="expContent">
  <h5>Experiences</h5>
  <p>I have not much of experience right now, but I'm trying to.</p>
  <table>
    <tr>
      <th>Company</th>
      <th>Position</th>
      <th>Time</th>
    </tr>
    <tr class="expTable">
      <td>Migros</td>
      <td>Front-End Developer Intern</td>
      <td>July 2022 - August 2022</td>
    </tr>
    <tr class="expTable">
      <td>MNG Kargo</td>
      <td>Developer Intern</td>
      <td>August 2022 - September 2022</td>
    </tr>
  </table>
</div>
